.form2{
    width: 100%;
    background-color: rgb(95, 95, 255);
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 0;
}
.refferal{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}
.refferal-doctor{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}
.errors{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-evenly;
}